/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,
body {
  height: 100%;
  
  display: flex;
  flex-direction: column;
}

#container {
  flex: 1 auto;
 }

.progress-b span {
    display: inline-block;
    height: 23px;
    width: 0%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    background: rgb(1, 182, 178);
    background: linear-gradient(bottom, rgb(1, 182, 178) 39%, rgb(27, 219, 214) 70%, rgb(54, 255, 255) 85%);
    background: -o-linear-gradient(bottom, rgb(1, 182, 178) 39%, rgb(27, 219, 214) 70%, rgb(54, 255, 255) 85%);
    background: -moz-linear-gradient(bottom, rgb(1, 182, 178) 39%, rgb(27, 219, 214) 70%, rgb(54, 255, 255) 85%);
    background: -webkit-linear-gradient(bottom, rgb(1, 182, 178) 39%, rgb(27, 219, 214) 70%, rgb(54, 255, 255) 85%);
    background: -ms-linear-gradient(bottom, rgb(1, 182, 178) 39%, rgb(27, 219, 214) 70%, rgb(54, 255, 255) 85%);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.39, rgb(1, 182, 178)), color-stop(0.7, rgb(27, 219, 214)), color-stop(0.85, rgb(54, 255, 255)));
}
.progress-b {
    background-color: black;
    height: 30px;
    padding: 5px;
    width: 90%;
    margin: 60px auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}
.progress-b span {
    -webkit-transition: width .4s ease-in-out;
    -moz-transition: width .4s ease-in-out;
    -ms-transition: width .4s ease-in-out;
    -o-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}
