<!DOCTYPE html>
<html>
<head>
  <title>AirMail</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<img src="http://thumbs.dreamstime.com/t/la-lettre-avec-des-ailes-46169360.jpg" alt="victor santos" />

<%= yield %>

</body>
</html>
